.hero {
    min-height: 100vh;
    min-width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.scroll-tags {
    width: 30vw;
    height: 100vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote-list{
    background-color: #ccc;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buttonSorting{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    text-transform:uppercase;
    padding: 5px;
    position: sticky;
    top: 600px;
    left: 1430px;
}