.container {
    border: 2px solid #ccc;
    width: 300px;
    height: 100px;
    overflow-y: scroll;
}

.hero {
    /* width: 100vw; */
    /* height: auto; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}